tensorflow
tensorflow_datasets
matplotlib
scikit-image>=0.14
ipykernel
cython # Hard requirement for pycocotools
git+https://github.com/AIcrowd/coco.git#subdirectory=PythonAPI # A branch fixing pycocotools for Python3
imgaug # An optional module for image augmentation
